{% extends 'base.html.twig' %}

{% block title %}New Author{% endblock %}

{% block body %}
    <h1>Create new Author</h1>

    <a href="{{ path('app_author_index') }}" class='btn btn-success' >back to list</a>

    {{ include('author/_form.html.twig') }}

{% endblock %}
