{% extends 'base.html.twig' %}

{% block title %}New Borrower{% endblock %}

{% block body %}
    <h1>Create new Borrower</h1>
    <a href="{{ path('app_borrower_index') }}" class='btn btn-success'>back to list</a>


    {{ include('borrower/_form.html.twig') }}

{% endblock %}
