{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Create new Book</h1>
    <a href="{{ path('app_book_index') }}" class='btn btn-success'>back to list</a>

    {{ include('book/_form.html.twig') }}

{% endblock %}
